<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
<!--          <p class="feed-subscribe">
            <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg><span>Subscribe</span>
            </a>
          </p> -->
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }} 
                  <a rel="me" href="https://twitter.com/{{ site.social.twitter | cgi_escape | escape }}" title="{{ site.social.twitter | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
                  <a rel="me" href="https://github.com/{{ site.social.github | cgi_escape | escape }}" title="{{ site.social.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>  </a>
                  <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }} 
                  </li>
            {% endif -%}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
    </div>
  
  </footer>